.connect-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.connect-button, .dropdown-button {
  padding: 8px 16px;
  background-color: #2dba4e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  margin: 5px 0;
}

.connect-button:hover, .dropdown-button:hover {
  background-color: #239a3b;
}
